USE [OnlineShop]
GO
/****** Object:  StoredProcedure [dbo].[DoanhThuTheoHang]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DoanhThuTheoHang] @HangSX NVARCHAR(50) OUT, @TongTien INT OUT
AS
BEGIN
	SELECT nsx.TenNhaSanXuat AS HangSX, SUM(cthd.SoLuong * cthd.DonGia) AS TongTien 
	FROM dbo.ChiTiet_HoaDon cthd
	JOIN dbo.HoaDon hd ON hd.ID = cthd.idHoaDon 
	JOIN dbo.SanPham sp ON sp.ID = cthd.idSanPham
	JOIN dbo.NhaSanXuat nsx ON nsx.ID = sp.idNhaSanXuat
	WHERE hd.TrangThai = 3
	GROUP BY nsx.TenNhaSanXuat
END


GO
/****** Object:  Table [dbo].[ChiTiet_HoaDon]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiet_HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idSanPham] [int] NULL,
	[SoLuong] [int] NULL,
	[idHoaDon] [int] NULL,
	[DonGia] [int] NULL,
	[Email] [nchar](64) NULL,
 CONSTRAINT [PK__ChiTiet___3214EC27CA96EE63] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Danh Muc]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh Muc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](50) NOT NULL,
	[BiXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiaChiGiaoHang]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiGiaoHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idTaiKhoan] [int] NULL,
	[DiaChi] [nvarchar](128) NULL,
	[Email] [nchar](64) NULL,
	[Phone] [nchar](11) NULL,
	[TongTien] [float] NULL,
	[YeuCau] [ntext] NULL,
	[NgayDatHang] [nchar](64) NULL,
	[TenKhachHang] [nvarchar](128) NULL,
	[idHoaDon] [int] NULL,
 CONSTRAINT [PK__DiaChiGi__3214EC27DB63A78B] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhAnh_SanPham]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh_SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AnhChiTiet] [nchar](255) NULL,
	[idSanPham] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime] NULL,
	[idKhachHang] [int] NULL,
	[TongTien] [int] NULL,
	[TrangThai] [int] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Huyen]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenHuyen] [nvarchar](50) NULL,
	[BiXoa] [bit] NULL,
	[idThanhPho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSanPham] [nvarchar](50) NOT NULL,
	[idDanhMuc] [int] NULL,
	[BiXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaSanXuat] [nvarchar](50) NOT NULL,
	[BiXoa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](255) NULL,
	[Gia] [int] NULL,
	[MoTa] [nvarchar](255) NULL,
	[LuotXem] [int] NULL,
	[SoLuong] [int] NULL,
	[TinhTrang] [bit] NULL,
	[idLoaiSanPham] [int] NULL,
	[idDanhMuc] [int] NULL,
	[HinhAnh] [nvarchar](1024) NULL,
	[NgayNhap] [datetime] NULL,
	[NoiDung] [ntext] NULL,
	[BiXoa] [bit] NULL,
	[idNhaSanXuat] [int] NULL,
	[SoLuongTon] [int] NULL,
	[SoLuongBan] [int] NULL,
	[KhuyenMai] [bit] NULL,
	[NgayKetThuc] [date] NULL,
 CONSTRAINT [PK__SanPham__3214EC279A0E1874] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPhamYeuThich]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamYeuThich](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NULL,
	[idSanPham] [int] NULL,
	[BiXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nchar](64) NULL,
	[Pass] [nchar](64) NULL,
	[Name] [nvarchar](48) NULL,
	[Address] [nvarchar](128) NULL,
	[Phone] [nchar](11) NULL,
	[PhanQuyen] [bit] NOT NULL,
	[idThanhPho] [int] NULL,
	[BiXoa] [bit] NULL,
	[idHuyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThanhPho]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhPho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenThanhPho] [nvarchar](50) NULL,
	[BiXoa] [bit] NULL,
	[NameShow] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrangThai_HoaDon]    Script Date: 6/15/2017 8:56:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai_HoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenTrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChiTiet_HoaDon] ON 

INSERT [dbo].[ChiTiet_HoaDon] ([ID], [idSanPham], [SoLuong], [idHoaDon], [DonGia], [Email]) VALUES (296, 31, 1, 23, 120000, N'linh3@gmail.com                                                 ')
INSERT [dbo].[ChiTiet_HoaDon] ([ID], [idSanPham], [SoLuong], [idHoaDon], [DonGia], [Email]) VALUES (297, 30, 2, 23, 240000, N'linh3@gmail.com                                                 ')
INSERT [dbo].[ChiTiet_HoaDon] ([ID], [idSanPham], [SoLuong], [idHoaDon], [DonGia], [Email]) VALUES (298, 29, 1, 23, 120000, N'linh3@gmail.com                                                 ')
SET IDENTITY_INSERT [dbo].[ChiTiet_HoaDon] OFF
SET IDENTITY_INSERT [dbo].[Danh Muc] ON 

INSERT [dbo].[Danh Muc] ([ID], [TenDanhMuc], [BiXoa]) VALUES (10, N'Thời trang Nam', 0)
INSERT [dbo].[Danh Muc] ([ID], [TenDanhMuc], [BiXoa]) VALUES (11, N'Thời trang Nữ', 0)
SET IDENTITY_INSERT [dbo].[Danh Muc] OFF
SET IDENTITY_INSERT [dbo].[DiaChiGiaoHang] ON 

INSERT [dbo].[DiaChiGiaoHang] ([ID], [idTaiKhoan], [DiaChi], [Email], [Phone], [TongTien], [YeuCau], [NgayDatHang], [TenKhachHang], [idHoaDon]) VALUES (15, 33, N'Thủ Đức', N'ngoccute@gmail.com                                              ', N'0123456789 ', 630000, N'Giao cho em đúng giờ nha a Lịnh đẹp trai', N'5/31/2017                                                       ', N'Ngọc', 23)
INSERT [dbo].[DiaChiGiaoHang] ([ID], [idTaiKhoan], [DiaChi], [Email], [Phone], [TongTien], [YeuCau], [NgayDatHang], [TenKhachHang], [idHoaDon]) VALUES (16, 33, N'Binh Thanh', N'ngoccute@gmail.com                                              ', N'01676986953', 1320000, N'Giao cho em nha', N'6/1/2017                                                        ', N'Linh', 24)
INSERT [dbo].[DiaChiGiaoHang] ([ID], [idTaiKhoan], [DiaChi], [Email], [Phone], [TongTien], [YeuCau], [NgayDatHang], [TenKhachHang], [idHoaDon]) VALUES (19, 1, N'43A Điện Biên Phủ, P.15, Q.Bình Thạnh', N'tan2@gmail.com                                                  ', N'01626583238', 510000, N'xxx', N'10-06-2017 09:44:48                                             ', N'Tân', 27)
SET IDENTITY_INSERT [dbo].[DiaChiGiaoHang] OFF
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([ID], [NgayDat], [idKhachHang], [TongTien], [TrangThai], [SoLuong]) VALUES (23, CAST(0x0000A70D00000000 AS DateTime), 33, 630000, 3, 5)
INSERT [dbo].[HoaDon] ([ID], [NgayDat], [idKhachHang], [TongTien], [TrangThai], [SoLuong]) VALUES (24, CAST(0x0000A70E00000000 AS DateTime), 33, 1320000, 3, 11)
INSERT [dbo].[HoaDon] ([ID], [NgayDat], [idKhachHang], [TongTien], [TrangThai], [SoLuong]) VALUES (27, CAST(0x0000A72900A09EC0 AS DateTime), 1, 510000, 3, 4)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
SET IDENTITY_INSERT [dbo].[Huyen] ON 

INSERT [dbo].[Huyen] ([ID], [TenHuyen], [BiXoa], [idThanhPho]) VALUES (1, N'Quận 1 ', 0, 1)
INSERT [dbo].[Huyen] ([ID], [TenHuyen], [BiXoa], [idThanhPho]) VALUES (2, N'Quận 2', 0, 1)
INSERT [dbo].[Huyen] ([ID], [TenHuyen], [BiXoa], [idThanhPho]) VALUES (3, N'Quận 3', 0, 1)
SET IDENTITY_INSERT [dbo].[Huyen] OFF
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([ID], [TenLoaiSanPham], [idDanhMuc], [BiXoa]) VALUES (1, N'Áo sơ mi nam', 10, 0)
INSERT [dbo].[LoaiSanPham] ([ID], [TenLoaiSanPham], [idDanhMuc], [BiXoa]) VALUES (2, N'Áo thun nam', 10, 0)
INSERT [dbo].[LoaiSanPham] ([ID], [TenLoaiSanPham], [idDanhMuc], [BiXoa]) VALUES (3, N'Quần dài nam', 10, 0)
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON 

INSERT [dbo].[NhaSanXuat] ([ID], [TenNhaSanXuat], [BiXoa]) VALUES (1, N'Phi Long', 0)
INSERT [dbo].[NhaSanXuat] ([ID], [TenNhaSanXuat], [BiXoa]) VALUES (2, N'Việt Tiến', 0)
INSERT [dbo].[NhaSanXuat] ([ID], [TenNhaSanXuat], [BiXoa]) VALUES (3, N'5TheWay', 0)
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([ID], [Email], [Pass], [Name], [Address], [Phone], [PhanQuyen], [idThanhPho], [BiXoa], [idHuyen]) VALUES (1, N'linh@gmail.com                                                  ', N'e10adc3949ba59abbe56e057f20f883e                                ', N'Phạm Ngọc Lịnh', N'SG', N'0123456789 ', 0, 1, 0, NULL)
INSERT [dbo].[TaiKhoan] ([ID], [Email], [Pass], [Name], [Address], [Phone], [PhanQuyen], [idThanhPho], [BiXoa], [idHuyen]) VALUES (2, N'tan@gmail.com                                                   ', N'FCEA920F7412B5DA7BE0CF42B8C93759                                ', N'Tân', N'SG', N'0123456987 ', 0, 1, 0, NULL)
INSERT [dbo].[TaiKhoan] ([ID], [Email], [Pass], [Name], [Address], [Phone], [PhanQuyen], [idThanhPho], [BiXoa], [idHuyen]) VALUES (7, N'admin@gmail.com                                                 ', N'E10ADC3949BA59ABBE56E057F20F883E                                ', N'I''m Joker', N'SG', N'123456789  ', 1, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
SET IDENTITY_INSERT [dbo].[ThanhPho] ON 

INSERT [dbo].[ThanhPho] ([ID], [TenThanhPho], [BiXoa], [NameShow]) VALUES (1, N'Thành phố Hồ Chí Minh', 0, NULL)
INSERT [dbo].[ThanhPho] ([ID], [TenThanhPho], [BiXoa], [NameShow]) VALUES (2, N'Thành phố Hà Nội', 0, NULL)
INSERT [dbo].[ThanhPho] ([ID], [TenThanhPho], [BiXoa], [NameShow]) VALUES (3, N'Tỉnh Bình Thuận', 0, NULL)
SET IDENTITY_INSERT [dbo].[ThanhPho] OFF
SET IDENTITY_INSERT [dbo].[TrangThai_HoaDon] ON 

INSERT [dbo].[TrangThai_HoaDon] ([ID], [TenTrangThai]) VALUES (1, N'Đang đặt')
INSERT [dbo].[TrangThai_HoaDon] ([ID], [TenTrangThai]) VALUES (2, N'Đang giao')
INSERT [dbo].[TrangThai_HoaDon] ([ID], [TenTrangThai]) VALUES (3, N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[TrangThai_HoaDon] OFF
ALTER TABLE [dbo].[Danh Muc] ADD  DEFAULT ((0)) FOR [BiXoa]
GO
ALTER TABLE [dbo].[Huyen] ADD  DEFAULT ((0)) FOR [BiXoa]
GO
ALTER TABLE [dbo].[LoaiSanPham] ADD  DEFAULT ((0)) FOR [BiXoa]
GO
ALTER TABLE [dbo].[NhaSanXuat] ADD  DEFAULT ((0)) FOR [BiXoa]
GO
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [DF__SanPham__BiXoa__239E4DCF]  DEFAULT ((0)) FOR [BiXoa]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [PhanQuyen]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [BiXoa]
GO
ALTER TABLE [dbo].[ThanhPho] ADD  DEFAULT ((0)) FOR [BiXoa]
GO
ALTER TABLE [dbo].[ChiTiet_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTiet_H__idHoa__31EC6D26] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([ID])
GO
ALTER TABLE [dbo].[ChiTiet_HoaDon] CHECK CONSTRAINT [FK__ChiTiet_H__idHoa__31EC6D26]
GO
ALTER TABLE [dbo].[ChiTiet_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__ChiTiet_H__idSan__32E0915F] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTiet_HoaDon] CHECK CONSTRAINT [FK__ChiTiet_H__idSan__32E0915F]
GO
ALTER TABLE [dbo].[DiaChiGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK__DiaChiGia__idTai__33D4B598] FOREIGN KEY([idTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([ID])
GO
ALTER TABLE [dbo].[DiaChiGiaoHang] CHECK CONSTRAINT [FK__DiaChiGia__idTai__33D4B598]
GO
ALTER TABLE [dbo].[DiaChiGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_DiaChiGiaoHang_HoaDon] FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiaChiGiaoHang] CHECK CONSTRAINT [FK_DiaChiGiaoHang_HoaDon]
GO
ALTER TABLE [dbo].[HinhAnh_SanPham]  WITH CHECK ADD  CONSTRAINT [FK__HinhAnh_S__idSan__32E0915F] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnh_SanPham] CHECK CONSTRAINT [FK__HinhAnh_S__idSan__32E0915F]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__idKhachH__33D4B598] FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[TaiKhoan] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__idKhachH__33D4B598]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([TrangThai])
REFERENCES [dbo].[TrangThai_HoaDon] ([ID])
GO
ALTER TABLE [dbo].[Huyen]  WITH CHECK ADD FOREIGN KEY([idThanhPho])
REFERENCES [dbo].[ThanhPho] ([ID])
GO
ALTER TABLE [dbo].[LoaiSanPham]  WITH CHECK ADD FOREIGN KEY([idDanhMuc])
REFERENCES [dbo].[Danh Muc] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__idDanhM__37A5467C] FOREIGN KEY([idDanhMuc])
REFERENCES [dbo].[Danh Muc] ([ID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__idDanhM__37A5467C]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__idLoaiS__38996AB5] FOREIGN KEY([idLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([ID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__idLoaiS__38996AB5]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__idNhaSa__398D8EEE] FOREIGN KEY([idNhaSanXuat])
REFERENCES [dbo].[NhaSanXuat] ([ID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__idNhaSa__398D8EEE]
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[TaiKhoan] ([ID])
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamYeuThich_SanPham] FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[SanPhamYeuThich] CHECK CONSTRAINT [FK_SanPhamYeuThich_SanPham]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([idThanhPho])
REFERENCES [dbo].[ThanhPho] ([ID])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Huyen] FOREIGN KEY([idHuyen])
REFERENCES [dbo].[Huyen] ([ID])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Huyen]
GO
