
<div class="home-4-brand-area">
    <div class="container">
        <div class="row">
            <div class="brands">
                <div class="brand-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <!--<div class="owl-wrapper-outer">-->
                    <!--<div class="owl-wrapper" style="width: 2800px; left: 0px; display: block;">-->
                    <!--<div class="owl-item" style="width: 200px;">-->
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#">
                                <img src="~/Content/img/brand/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--</div>-->
                    <!--<div class="owl-item" style="width: 200px;">-->
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#">
                                <img src="~/Content/img/brand/2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--</div>-->
                    <!--<div class="owl-item" style="width: 200px;">-->
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#">
                                <img src="~/Content/img/brand/3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--</div>-->
                    <!--<div class="owl-item" style="width: 200px;">-->
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#">
                                <img src="~/Content/img/brand/4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--</div>-->
                    <!--<div class="owl-item" style="width: 200px;">-->
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#">
                                <img src="~/Content/img/brand/5.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--</div>-->
                    <!--<div class="owl-item" style="width: 200px;">-->
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#">
                                <img src="~/Content/img/brand/6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!--</div>-->
                    <!--<div class="owl-item" style="width: 200px;">-->
                    <div class="col-md-12">
                        <div class="single-brand">
                            <a href="#">
                                <img src="~/Content/img/brand/7.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
