<footer>
    <div class="footer-area">
        <div class="footer-top">
            <div class="container">
                <div class="footer-logo">
                    <a href="#">
                        <img src="~/Content/img/logo-footer.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-9 foot-mar">
                        <div class="row">
                            <div class="col-md-4  col-sm-4 col-xs-12">
                                <h4>Thông tin cửa hàng</h4>
                                <div class="footer-contact">
                                    <p class="description">
                                        Shop chuyên bán các vật dụng và nội thất nhà cửa, bảm bảo
                                        đẹp, chất lượng...
                                    </p>
                                    <p class="address add">
                                        <span>207/78, Lê Văn Sỹ, P.13, Quận Phú Nhuận, TP.HCM, Việt Nam</span>
                                    </p>
                                    <p class="phone add">
                                        <span> +(84) 1659 987 960</span>
                                    </p>
                                    <p class="email add">
                                        <a href="#">admin@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h4>Thông tin khác</h4>
                                <ul class="toggle-footer">
                                    <li>
                                        <a title="Specials" href="#">Sản phẩm đặc biệt</a>
                                    </li>
                                    <li>
                                        <a title="New products" href="#">Sản phẩm mới</a>
                                    </li>
                                    <li>
                                        <a title="Best sellers" href="#">Sản phẩm bán chạy nhất</a>
                                    </li>
                                    <li>
                                        <a title="Our stores" href="#">Vế chúng tôi</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h4>My account</h4>
                                <ul class="toggle-footer">
                                    <li>
                                        <a title="My orders" href="#">Đơn hàng của tôi</a>
                                    </li>
                                    <li>
                                        <a title="My credit slips" href="#"> Giỏ hàng của tôi</a>
                                    </li>
                                    <li>
                                        <a title="My addresses" href="#">Địa chỉ của tôi</a>
                                    </li>
                                    <li>
                                        <a title="My personal info" href="#">Thông tin cá nhân của tôi</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="newsletter">
                            <h4>Nhận bản tin mới</h4>
                            <div class="newsletter-content">
                                <form action="method">
                                    <input class="newsletter-input" type="text" placeholder="nhập email của ban"
                                           size="18" name="email">
                                    <button class="btn btn-default newsletter-button" type="submit">
                                        <span class="subscribe">Theo dõi</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="footer-social">
                            <h3>theo dõi chúng tôi</h3>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="payment">
                    <a href="#">
                        <img src="~/Content/img/payment.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 address">
                        Copyright ©
                        <a href="http://bootexperts.com">LTW2-LTV HCMUS</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 footer-link">
                        <ul>
                            <li>
                                <a href="#">Dịch vụ</a>
                            </li>

                            <li>
                                <a href="#">Về chúng tôi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

