
<script src="~/Scripts/js/vendor/jquery-1.12.0.min.js"></script>
<!-- bootstrap js -->
<script src="~/Scripts/js/bootstrap.min.js"></script>
<!--jquery scrollUp js -->
<script src="~/Scripts/js/jquery.scrollUp.js"></script>
<!-- owl.carousel js -->
<script src="~/Scripts/js/owl.carousel.min.js"></script>
<!-- meanmenu js -->
<script src="~/Scripts/js/jquery.meanmenu.js"></script>
<!-- jquery-ui js -->
<script src="~/Scripts/js/jquery-ui.min.js"></script>
<!-- wow js -->
<script src="~/Scripts/js/wow.min.js"></script>
<!-- nivo slider js -->
<script src="~/Scripts/js/jquery.nivo.slider.pack.js"></script>
<!-- countdown js -->
<script src="~/Scripts/js/countdown.js"></script>
<!-- plugins js -->
<script src="~/Scripts/js/plugins.js"></script>
<script src="~/Scripts/js/jquery.zoom.js"></script>
<script>
    $(document).ready(function () {
        $('.ex1').zoom();
    });
</script>
<!-- main js -->
<script src="~/Scripts/js/main.js"></script>
<a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;">
    <i class="fa fa-arrow-up"
       aria-hidden="true"></i>
</a>